/** Material Common CSS **/
.mat-mdc-dialog-container .mdc-dialog__content {
  font-family: 'poppins', sans-serif !important;
  letter-spacing: 0px !important;
}
.cdk-global-scrollblock {
  top: 0 !important;
}

/** Mat Select Style changes **/
.mat-select-control {
    &_radius{
       .mat-mdc-text-field-wrapper{
        background-color: var(--color-primary) !important;
        color: #fff;
        width: 88px !important;
        min-width: 88px !important;
        padding: 6px 12px !important;
        border-radius: 24px !important;
      }
    }
    .mat-mdc-text-field-wrapper {
        padding: 0.313rem 0.63rem;
        border: 1px solid var(--color-gray-1) !important;
        border-radius: 4px;
        overflow: hidden;
        background-color: var(--color-white);
        min-width: 120px;
         
        .mat-mdc-form-field-infix {
            padding: 0 !important;
            min-height: auto;
            width: auto;
            line-height: 14px;
        }
        .mat-mdc-select-trigger {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            .mat-mdc-select-value {
              max-width: 100%;
              font-size: 12px;
              margin-right: 5px;
              line-height: 14px;
              color: var(--color-black-1);
              .mat-mdc-select-placeholder {
                color: var(--color-black);
                font-size: 10px;
                font-weight: 400;
              }
            }
            .mat-mdc-select-arrow-wrapper {
              margin-left: auto;
              transform: none;
              height: auto;
              .mat-mdc-select-arrow {
                width: 6px;
                height: 6px;
                border: 1px solid;
                border-bottom: 0;
                border-left: 0;
                border-radius: 2px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
                border-color: #000;
                margin-top: -5px;
                svg {display: none;}
              }
            }
          }
    }
    .mdc-line-ripple,
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
    &.mat-select-lg {
        .mat-mdc-text-field-wrapper {
          padding: 0.819rem 0.75rem;
        }
      }
      &.mat-select-sm {
        .mat-mdc-text-field-wrapper {
            padding: 0.219rem 0.4rem;
        }
      }
      &.mat-select-xs {
        .mat-mdc-text-field-wrapper {
          padding: 0.094rem 0.63rem;
        }
      }
}

.mat-elevation-z8 {
  box-shadow: rgba(0, 0, 0, 0.145) 0px 2px 10px !important;
}

.custom-dailog {
  min-width: 400px !important;
  max-width: 400px !important;
  padding: 0px !important;
  .mat-mdc-menu-content {
    padding: 0;
  }
  .close-btn {
    text-align: right;
    margin-bottom: 4px;
    img {
      width: 12px;
      cursor: pointer;
    }
  }
  &.notification-dialog {
    overflow: hidden !important;
    margin-top: 8px;
    .custom-dailog_wrapper {
      padding: 15px;
      overflow: auto;
      max-height: 550px;
    }
  }
}

/** Mat Snackbar Style changes **/
.mdc-snackbar {
  margin: 16px;
  &__surface {
    box-shadow: none !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    min-width: auto !important;
  }
  &__label {
    padding: 0 !important;
  }
}

/** Mat Option Style changes **/
.mat-option-override {
  .mdc-list-item__primary-text {
    width: 100%;
  }
}

.mat-option-custom {
  min-height: 34px !important;
  .mdc-list-item__primary-text {
    width: 100%;
    font-size: 12px !important;
  }
  .mat-pseudo-checkbox {
    display: none !important;
  }
}

/** Mat Checkbox Style changes **/
.mat-checkbox {
  .mat-mdc-checkbox {
    .mdc-checkbox {
      padding: 0;
      margin: 0;
      &__ripple {
        display: none;
      }
      &__native-control {
        width: 20px !important;
        height: 20px !important;
      }
      &__background {
        top: 0 !important;
        left: 0 !important;
        border: 1px solid var(--color-gray-2) !important;
        border-radius: 2px !important;
      }
      &__checkmark {
        width: 12px;
        top: 2px;
        left: 2px;
      }
      .mat-mdc-checkbox-touch-target, .mat-mdc-checkbox-ripple {
        display: none;
      }
      .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
        background-color: var(--color-primary) !important;
        border: 1px solid var(--color-primary) !important;
      }
    }
    label {
      font-weight: 400;
      color: #3f4254;
      padding-left: 6px;
    }
  }
  &.mat-checkbox-sm {
    .mdc-checkbox {
      width: 12px;
      height: 12px;
      flex: 0 0 12px;
      &__native-control {
        width: 12px !important;
        height: 12px !important;
      }
      &__background {
        width: 12px !important;
        height: 12px !important;
      }
      &__checkmark {
        width: 9px;
        top: 0px;
        left: 0px;
      }
    }
    label {
      font-size: 12px;
    }
  }
}

/** Mat Tab Style changes **/
.horizontal-mat-tab {
  .mat-mdc-tab-labels {
    grid-gap: 36px;
    position: relative;
    margin-bottom: 16px;
    .mdc-tab {
      min-width: auto;
      height: auto;
      padding: 0;
      .mdc-tab__text-label {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        padding-bottom: 4px;
        color: #3f4254;
      }
      &__ripple, .mat-mdc-tab-ripple {
        display: none;
      }
      &--active {
        .mdc-tab__text-label {
          color: var(--color-primary-dark);
        }
      }
    }
    .mdc-tab-indicator__content--underline {
      border-top-width: 1px;
      border-color: var(--color-primary-dark);
    }
    &:after {
      content: '';
      height: 1px;
      width: 100%;
      background-color: var(--color-gray-1);
      display: inline-block;
      position: absolute;
      bottom: 0;
    }
  }
  &-dark{
    .mdc-tab__text-label {
      color: var(--color-black-2) !important;
      font-size: 20px !important;
      font-weight: 500 !important;
  }
  mat-tab-header.mat-mdc-tab-header {
    margin-bottom: 20px;
}
.mat-mdc-tab-labels .mdc-tab-indicator__content--underline {
  border-top-width: 1px;
  border-color: var(--color-black);
}
  }
}

// mat toggle switch
.mat-mdc-slide-toggle.mat-accent{
  --mdc-switch-selected-track-color:var(--color-success-4);
  --mdc-switch-selected-handle-color:var(--color-white);
  --mdc-switch-track-height:18px;
  --mdc-switch-track-width:34px;
  --mdc-switch-track-shape:20px;
  --mdc-switch-handle-width:16px;
  --mdc-switch-handle-height:16px;
  --mdc-switch-selected-hover-handle-color:var(--color-white);
  --mdc-switch-selected-hover-track-color:var(--color-success-4);
  --mdc-switch-state-layer-size:0px;
  --mdc-switch-selected-pressed-track-color:var(--color-success-4);
  --mdc-switch-selected-pressed-handle-color:var(--color-white);
  --mdc-switch-selected-focus-track-color:var(--color-success-4);
  --mdc-switch-selected-focus-handle-color:var(--color-white);
  --mdc-switch-unselected-track-color:var(--color-gray-8);
  --mdc-switch-unselected-handle-color:var(--color-white);
  --mdc-switch-unselected-hover-handle-color:var(--color-white);
  --mdc-switch-unselected-focus-handle-color:var(--color-white);
  --mdc-switch-unselected-pressed-handle-color:var(--color-white);
}

/** Mat Timepicker changes **/
.custom-timepicker {
  .mat-mdc-form-field {
    width: 100%;
    border: 1px solid #e4e6ef;
    border-radius: 4px;
    .mat-mdc-text-field-wrapper {
      padding-left: 0;
      padding: 0.688rem 1rem;
    }
    .mat-mdc-form-field-subscript-wrapper,
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch {
      display: none;
    }
    .mat-mdc-form-field-infix {
      padding-top: 0;
      padding-bottom: 0;
      min-height: auto;
      width: auto;
    }
    .mdc-text-field__input {
      font-size: 12px;
      font-weight: 400;
      color: #000;
    }
    .mat-mdc-form-field-icon-suffix {
      padding: 0;
      mat-icon {
        padding: 0;
        width: 17px;
        height: 17px;
        font-size: 18px;
        cursor: pointer;
      }
    }
    .mdc-notched-outline__trailing {
      border: none;
    }
  }
}

/** Mat Timepicker Dialog **/
.w-timepicker-dialog {
  .w-timepicker-selected-ampm {
    padding-top: 0 !important;
  }
  .w-time-content {
    flex-direction: column !important;
    align-items: flex-end !important;
  }
  .w-clock-step {
    .mdc-button__label {
      color: #000 !important;
    }
    .mat-primary {
      .mdc-button__label {
        color: #fff !important;
      }
    }
  }
} 

/** Mat Datepicker Dialog **/
.mat-datepicker {
  .mat-mdc-text-field-wrapper {
    width: 100%;
    border: 1px solid #e4e6ef;
    border-radius: 4px;
  }
  .mat-mdc-form-field-infix {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: auto;
    width: auto;
  }
  .mat-mdc-form-field-bottom-align,
  .mdc-line-ripple,
  .mat-mdc-button-ripple {
    display: none;
  }
  .mdc-text-field--filled {
    background: #fff;
  }
  .mat-mdc-icon-button {
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    svg {width: 16px; height: 16px;}
  }
  &.mat-icon-hidden {
    .mat-mdc-form-field-icon-suffix {
      opacity: 0;
      .mat-datepicker-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
  &.mat-datepicker-sm {
    font-size: 12px;
    .mat-mdc-text-field-wrapper {
      padding: 0.25rem 0.5rem;
    }
  }
}

.overlay-transparent {
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
  }
}