<!-- Login page -->
<div class="authentication">
  <div class="authentication-form ms-auto">
      <div class="d-flex authentication-form-box">
        <div class="logo-sm-monsey">
          <img src="assets/images/logo-monsey.png" class="img-fluid" />
      </div>
          <div class="authentication_login-form">
              <div *ngIf="checkUsernameAndPhone !== 'Success'">
                  <div class="text-center mb-3 lh-sm">
                      <h2 class="mb-1 font-16">Forgotten Password ?</h2>
                      <span class="font-12">Enter your username and phone number to reset your password</span>
                  </div>
                  <!-- Login Form -->
                  <form [formGroup]="forgotPassswordForm">
                      <!-- User Field -->
                      <div class="form-group">
                          <label class="control-label" for="">User name</label>
                          <input class="form-control border-0" type="text" placeholder="Username"
                              formControlName="username">
                          <div
                              *ngIf="(forgotPassswordForm.controls['username'].hasError('required') && forgotPassswordForm.controls['username']?.touched || flag.submitted)">
                              <span class="invalid-feedback d-block"
                                  *ngIf="forgotPassswordForm.controls['username'].hasError('required')">Username is
                                  required</span>
                          </div>
                      </div>
                      <!-- //User Field -->
                      <!-- phone Field -->
                      <div class="form-group">
                          <label class="control-label" for="">Phone Number</label>
                          <div class="password-input">
                              <input class="form-control border-0" type="text" placeholder="Phone"
                                  formControlName="phoneNumber">
                              <div
                                  *ngIf="(forgotPassswordForm.controls['phoneNumber'].hasError('required')  && forgotPassswordForm.controls['phoneNumber']?.touched || flag.submitted)">
                                  <span class="invalid-feedback d-block"
                                      *ngIf="forgotPassswordForm.controls['phoneNumber'].hasError('required')">Phone
                                      Number is
                                      required</span>
                              </div>
                          </div>
                      </div>
                      <div class="invalid-feedback d-block">
                        {{errorMessage}}
                      </div>
                      <!-- phone Field -->
                      <!-- Authentication Action -->
                      <div class="d-flex gap-3">
                          <button class="btn btn-border" [routerLink]="['/account/login']">Cancel</button>
                          <button  type="button"    class="btn btn-primary w-100" (click)="submit()">Submit</button>
                      </div>
                  </form>
              </div>

              <div class="password-change" *ngIf="checkOtp == 'Success'">
                  <div class="text-center mb-3 lh-sm">
                      <h2 class="mb-1 font-16">Change Password ?</h2>
                      <span class="font-12">Type and confirm your new password</span>
                  </div>
                  <form [formGroup]="newPasswordForm">
                      <div class="form-group">
                          <label class="control-label" for="">New password</label>
                          <input class="form-control border-0" type="password" placeholder="New password"
                              formControlName="newPassword">
                          <div
                              *ngIf="(newPasswordForm.controls['newPassword'].hasError('required') && newPasswordForm.controls['username']?.touched || flag.submitted)">
                              <span class="invalid-feedback d-block"
                                  *ngIf="newPasswordForm.controls['newPassword'].hasError('required')">New password is
                                  required</span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label" for="">Confirm Password</label>
                          <div class="password-input">
                              <input class="form-control border-0" type="password" placeholder="Confirm Password"
                                  formControlName="confirmPassword">
                              <div
                                  *ngIf="(newPasswordForm.controls['confirmPassword'].hasError('required')  && newPasswordForm.controls['confirmPassword']?.touched || flag.submitted)">
                                  <span class="invalid-feedback d-block"
                                      *ngIf="newPasswordForm.controls['confirmPassword'].hasError('required')">Confirm
                                      Password required</span>
                              </div>

                          </div>

                      </div>
                      <div class="invalid-feedback d-block">
                        {{errorMessage}}
                      </div>
                      <div class="d-flex justify-content-between">
                          <button class="btn btn-border" [routerLink]="['/account/login']">Cancel</button>
                          <button class="btn btn-primary" (click)="createNewPassword()">Submit</button>
                      </div>
                  </form>
              </div>

              <div class="verify-otp" *ngIf="checkUsernameAndPhone === 'Success' && checkOtp !== 'Success'">
                  <div class="text-center mb-4 lh-sm">
                      <h2 class="mb-1 font-20 font-600">OTP</h2>
                      <span class="font-12">Enter the 6-digit code</span>
                  </div>
                  <form class="sub-otp">
                      <ng-otp-input #otpInput [config]="{ length: 6 }"></ng-otp-input>
                      <div class="invalid-feedback d-block">
                        {{errorMessage}}
                      </div>
                      <p class="font-14 mt-3 text-center">
                          OTP code will expire in
                          <span class="text-danger font-500">{{ countdownMinutes }}:{{ countdownSeconds < 10 ? '0'
                                  : '' }}{{ countdownSeconds }}</span> minutes!
                      </p>
                      <div class="d-flex justify-content-center">
                          <button class="btn btn-primary" *ngIf="otpInput.currentVal"
                              (click)="submitOtp(otpInput.currentVal)">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="developed-by">
      <span class="text-white">DEVELOPED BY</span>
      <a class="login-footer" href="#"><img src="https://monsey.hatzalah.live/assets/media/logos/data-vanced.png"
              class="img-fluid"></a>
  </div>
</div>
<!-- //Login page -->
