@import'../login/login.component.scss';


.authentication-form-box {
    .authentication_login-form {
        padding: 224px 42px 34px !important;
        // min-height: 544px;
        @media(max-width: 1200px){
            padding: 181px 42px 20px !important;
        }
    }
    .verify-otp{
        padding: 40px 0px;
    }
    ::ng-deep{
        .sub-otp{
            .wrapper {
                display: flex;
                .otp-input{
                    width: 39px;
                    height: 39px;
                }
            }
        }
    }
}
