<div class="grid-wrapper_header mb-2 d-flex align-items-center">
  <div class="grid-wrapper_header-search d-flex align-items-center gap-1">
    <span>
      <svg width="14.7" height="14.53">
        <use xlink:href="assets/images/sprite-icons.svg#search-icon"></use>
      </svg>
    </span>
    <input
      type="text"
      class="form-control form-control-sm border-0 search-input"
      placeholder="Search"
      [(ngModel)]="searchText"
      (input)="search(searchText)"
    />
  </div>
  <div class="grid-wrapper_header-actions d-flex align-items-center">
    <button class="btn btn-primary btn-md rounded-pill font-12 font-500"(click)="add()">
      + Add new
    </button>
  </div>
</div>
