<!-- main wrapper -->
<div class="main-wrapper">
  <!-- main header -->
<div class="header-content d-flex justify-content-between">
  <div class="logo-menu d-flex align-items-center gap-4">
      <div class="menu-sidebar text-primary-dark example-sidenav-content">
          <svg width="24" height="24" class="pointer">
              <use xlink:href="assets/images/sprite-icons.svg#menu-icon"></use>
          </svg>
      </div>
      <div class="header-content-right">
          <div class="logo-img"><img src="assets/images/logo.png" alt="" class="img-fluid"></div>
      </div>
  </div>
  <div class="header-content-notification d-flex align-items-center ms-auto">
      <div class="notify_actions d-flex align-items-center gap-2">
          <span class="user-profile rounded-circle overflow-hidden">
              <img class="img-fluid" src="../../../assets/images/user-defult.png" alt="">
          </span>
      </div>
  </div>
</div>
<!--// main header -->

  <!-- <div class="main-wrapper-header" *ngIf="isHeaderVisable">
      <app-header></app-header>
  </div> -->
  <div class="main-wrapper-content" [ngClass]="{'hiddenHeader' : !isHeaderVisable}">
      <router-outlet></router-outlet>
  </div>
</div>

<!--// main wrapper -->
