// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Monsey-primary: mat.define-palette(mat.$indigo-palette);
$Monsey-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Monsey-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Monsey-theme: mat.define-light-theme(
  (
    color: (
      primary: $Monsey-primary,
      accent: $Monsey-accent,
      warn: $Monsey-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Monsey-theme);

/* You can add global styles to this file, and also import other style files */
//@import "./assets/scss/reset";
//@import "./assets/scss/angular-material-overrides.scss";
//@import "./assets/scss/ag-grid-overrides.scss";
//@import "~@ng-select/ng-select/themes/default.theme.css";

//=============== Circle Dot color css=================
.circle-dot {
  min-width: 6px;
  height: 6px;
  border-radius: 100%;
}
.green_dot {
  // background: var(--color-success);
  background-color: green;
}
.green_dot-1 {
  background-color: var(--color-success-light);
}
.red_dot {
  // background: var(--color-danger);
  background-color: red;
}
.yellow_dot {
  // background: var(--color-yellow-dark);
  background-color: yellow;
}
.skyblue_dot {
  // background: var(--color-lightblue);
  background-color: skyblue;
}
.sky_dot-1 {
  background-color: var(--color-sky);
}
.blue_dot {
  // background: var( --color-blue);
  background-color: blue;
}
.blue_dot-1 {
  background-color: var(--color-primary-dark);
}
.warning_dot {
  background-color: var(--color-warning);
}
.violet_dot {
  // background-color: var(--color-vilot);
  background-color: violet;
}

//=============== //Circle Dot color css=================

//  ====================Column width style===========================
.column {
  &-width_10 {
    width: 10%;
  }
  &-width_15 {
    width: 15%;
  }
  &-width_20 {
    width: 20%;
  }
  &-width_25 {
    width: 25%;
  }
  &-width_30 {
    width: 30%;
  }
  &-width_35 {
    width: 35%;
  }
  &-width_40 {
    width: 40%;
  }
  &-width_50 {
    width: 50%;
  }
  &-width_60 {
    width: 60%;
  }
}

//  ====================//Column width style===========================

//=============== main wrapper=================//
.main-wrapper {
  background: var(--color-primary-light) !important;
  min-height: 100vh;
  height: 100%;
  &-content {
    background: linear-gradient(
      to bottom,
      rgb(71, 98, 209) 75px,
      rgb(244, 244, 255) 75px
    );
    padding: 20px 30px;
    height: calc(100% - 85px);
    &.hiddenHeader {
      background: none;
      padding: 0;
      height: 100%;
    }
    &-header {
      color: #fff;
    }
  }
}
//=============== //main wrapper=================//

.inner-wrapper {
  height: 100%;
  &_content {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5%);
  }
  &_body {
    height: calc(100% - 130px);
  }
}

.important-dialog {
  .btn.selected {
    background-color: var(--color-primary-1);
    color: var(--color-white);
  }
}

.search-user {
  &-result {
    min-width: 580px !important;
    // min-height: 75vh;
  }
}

// mat toggle switch
.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-track-color: var(--color-success-4);
  --mdc-switch-selected-handle-color: var(--color-white);
  --mdc-switch-track-height: 18px;
  --mdc-switch-track-width: 34px;
  --mdc-switch-track-shape: 20px;
  --mdc-switch-handle-width: 16px;
  --mdc-switch-handle-height: 16px;
  --mdc-switch-selected-hover-handle-color: var(--color-white);
  --mdc-switch-selected-hover-track-color: var(--color-success-4);
  --mdc-switch-state-layer-size: 0px;
  --mdc-switch-selected-pressed-track-color: var(--color-success-4);
  --mdc-switch-selected-pressed-handle-color: var(--color-white);
  --mdc-switch-selected-focus-track-color: var(--color-success-4);
  --mdc-switch-selected-focus-handle-color: var(--color-white);
  --mdc-switch-unselected-track-color: var(--color-gray-8);
  --mdc-switch-unselected-handle-color: var(--color-white);
  --mdc-switch-unselected-hover-handle-color: var(--color-white);
  --mdc-switch-unselected-focus-handle-color: var(--color-white);
  --mdc-switch-unselected-pressed-handle-color: var(--color-white);
}

// mat toggle switch End //

.side-panel {
  &-header {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 59px;
    .close-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: var(--color-gray-8);
      text-align: center;
      cursor: pointer;
      color: var(--color-gray-3);
      transition: var(--transition-primary);
      &:hover {
        background-color: var(--color-gray-5) !important;
      }
    }
  }
  &-body {
    padding: 14px 21px;
    height: calc(100% - 59px);
    overflow: auto;
  }
}
.line-divider {
  color: var(--color-primary-dark);
  &::before,
  &:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #d1d1d1;
    min-width: 20px;
    margin: auto;
  }
}

