<div class="header-content d-flex justify-content-between">
  <div class="logo-menu d-flex align-items-center gap-4">
      <div class="menu-sidebar text-primary-dark example-sidenav-content" (click)="openMenuSidebar()">
          <svg width="24" height="24" class="pointer">
              <use xlink:href="assets/images/sprite-icons.svg#menu-icon"></use>
          </svg>
      </div>
      <div class="header-content-right">
          <div class="logo-img"><img src="assets/images/logo.png" alt="" class="img-fluid"></div>
      </div>
  </div>
  <div class="header-content-notification d-flex align-items-center ms-auto">
      <div class="notify_actions d-flex align-items-center gap-2">
          <span class="user-profile rounded-circle overflow-hidden">
              <img class="img-fluid" src="../../../assets/images/user-defult.png" alt="">
          </span>
      </div>
  </div>
</div>

<mat-sidenav-container class="sidebar" [ngClass]="{'hide': menuSidePanelData}" (backdropClick)="close()">
  <mat-sidenav #menuSideNav mode="over" position="start" class="sidepanel_nav" (keydown.escape)="close()">
      <app-common-side-bar *ngIf="menuSidePanelData"></app-common-side-bar>
  </mat-sidenav>
</mat-sidenav-container>
