.header-content {
  background: var(--color-deep-light);
  padding: 7px 30px;
  @media(max-width: 992px){
     flex-wrap: wrap;
     grid-gap: 24px;
  }
  &-right {
      grid-gap: 30px;
      font-size: 12px;
      .logo-img {
          width: 137px;
      }
      .dispatch-report {
          display: flex;
          grid-gap: 28px;
          font-size: 10px;
          &_id{
             .edit-symbol {
                 width: 15px;
                 height: 15px;
                 background-color: var(--color-gray-1);
                 display: inline-block;
                 border-radius: 4px;
                 line-height: 15px;
                 text-align: center;
                 margin-left: 4px;
             }
          }
          &_unit {
              .form-select {
                  font-size: 12px;
                  font-weight: 600;
                  line-height: 9px;
                  border-radius: 4px;

              }
              .unit_select {
                  span {
                      padding: 3px 10px;
                      background: var(--color-primary-dark);
                      border-radius: 4px;
                      color: #fff;
                  }
              }
          }
      }
  }

  &-notification {
      .notify_actions {
         grid-gap: 10px;
          .alert-light {
              width: 14px;
              height: 14px;
              background: var(--color-pink);
              border: 1.5px solid var(--color-white);
              border-radius: 100%;
              right: 0;
              top: 0;
              font-size: 8px;
              padding-top: 1px;
          }
          .alert-help {
             width: 20px;
             height: 20px;
             text-align: center;
             line-height: 20px;
             background: var(--color-primary);
             border-radius: 100%;
             color: #fff;
             font-size: 10px;
             font-weight: 500;
          }
          .user-profile {
             width: 40px;
             height: 40px;
             cursor: pointer;
          }
          @media(max-width: 1200px){
             .btn span {
                 display: none;
             }
          }
      }
  }
}
